/* font-family: 'Archivo', sans-serif; - Body
font-family: 'Poppins', sans-serif; - Nav/Headers
font-family: 'Raleway', sans-serif; - Brand title*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Poppins:wght@300&family=Raleway:wght@800&display=swap');

/* Base styling */

body {
    font-family: 'Archivo', sans-serif;
}

.body-class {
    background-color: #2E3045;
    padding-top: 75px;
    color: #f0f8ff;
}

#index-body {
    background-color: #2E3045;
    color: #f0f8ff;
}

/* Navigation Styling */

.navbar {
    background-color: #383C7B;
    font-family: 'Poppins', sans-serif;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 6;
}

.nav-link, .logo-text {
    color: #f0f8ff !important;
    font-size: 20px !important;
    z-index: 6;

}

.nav-right {
    position: fixed;
    right: 0 !important;
    padding-right: 25px;
    z-index: 6;
}

@media screen and (max-width: 991px) {
    .nav-right {
        position: static;
    }    
}

.logo-text {
    font-family: 'Raleway', sans-serif;
    font-size: 28px !important;
}

/* Footer Styling */

.foot {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #383C7B;
    padding: 0;
    margin: 0;
    border-top: 20px solid #2E3045;
    list-style: none;
    height: 50px;
}

.foot > li {
    color: #f0f8ff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.foot > li > a {
    text-decoration: none;
    color: #f0f8ff;
    padding-left: 5px;
    padding-right: 5px;
}

/* Footer Media Queries */

@media screen and (max-width: 815px) {
    .foot {
        position: relative;
        border-top: 0px;
        height: auto;
    }

    .bottom-div {
        margin-bottom: 15px !important;
    }
}

@media screen and (max-width: 600px) {
    .foot {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foot > li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
/*  General Page Layouts */

.body-structure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-structure > p {
    padding-left: 13%;
    padding-right: 13%;
    font-size: 20px;
    padding-top: 5px;
    text-align: justify;
}

.body-structure > hr {
    width: 80%;
 }

.body-structure > .my-h2 {
    padding-left: 11%;
    padding-right: 11%;
    font-size: 37px;
    padding-top: 15px;
}

.body-structure > .my-h3 {
    padding-left: 12%;
    padding-right: 12%;
    font-size: 28px;
    padding-top: 10px;
}

.my-h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
}

@media screen and (max-width: 1260px) {
    .my-h1 {
        text-align: center;
    }    
}

.my-h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.my-h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.full-image {
    max-width: 70%;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bottom-div {
    margin-bottom: 50px;
}

.my-h3 > a {
    color: aqua;
}

.embed-div {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 55px;
}

.embed {
    border-radius: 10%;
    max-width: 25%;
    margin-left: 1%;
    margin-right: 1%;
    height: 225px;
    width: 500px;
}

@media screen and (max-width: 1000px) {
    .embed {
        height: 500px;
        width: 60%;
        max-width: 60%;
        margin-bottom: 20px;
    }

    .embed-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Index specific Styling */
#phoenixfeather {
    background: url(../../media/images/base-arm.webp) no-repeat center center;
    background-size: contain;
    max-width: 100vw;
    max-height: 75vh;
    min-height: 75vh
}

#enter-site {
    margin: -5vh 40vw 1vh 40vw;
    width: 20%;
    height: 12.5vh;
    font-size: 50px;
    border-radius: 50px;
    background-color: #f0f8ff;
    transition: background-color 0.5s;
}

#enter-site > a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #2E3045;
    background-color: rgba(255, 255, 255, 0.0);
    transition: color 0.5s;
}

#enter-site:hover > a {
    color: #383C7B;
    transition: color 0.5s;
}

#enter-site:hover {
    background-color: rgb(197, 197, 197);
    transition: background-color 0.5s;
}

#index-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.index-button {
    font-size: 30px;
    margin: 0 20px 0 20px;
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 12px;
    transition: color 1s;
    transition: background-color 1s;
}

.index-button > a {
    text-decoration: none;
    color: #f0f8ff;
    font-family: 'Archivo', sans-serif;
}

#linkedin-button:hover {
    background-color: #f0f8ff;
    transition: background-color 1s;
}

#linkedin-button:hover > a {
    color: #0A66C2;
    transition: color 1s;
}

#github-button:hover {
    background-color: black;
    transition: background-color 1s;
}

#github-button:hover > a {
    color: #f0f8ff;
    transition: color 1s;
}

#soundcloud-button:hover {
    background-color: #f0f8ff;
    transition: background-color 1s;
}

#soundcloud-button:hover > a {
    color: #ff7700;
    transition: color 1s;
}

@media screen and (max-width: 1024px) {
    #phoenixfeather {
        background: url(/media/images/rotated-arm.webp) no-repeat center center;
        background-size: contain;
        max-width: 100vw;
        max-height: 75vh;
        min-height: 75vh;
        min-width: 100vw;
    }

    #enter-site {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 0%;
        width: 70%;
        height: 7.5vh;
        font-size: 40px;
        border-radius: 50px;
        background-color: rgb(197, 197, 197);
        border-color: black;

    }

    #enter-site > a {
        color: #383C7B;
    }

    #index-nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #linkedin-button {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 0%;
        margin-bottom: 10px;
        width: 70%;
        height: 6vh;
        font-size: 35px;
        border-radius: 50px;
        border-color: black;

    }

    #github-button {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 0%;
        margin-bottom: 10px;
        width: 70%;
        height: 6vh;
        font-size: 35px;
        border-radius: 50px;
        border-color: black;

    }

    #soundcloud-button {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 0%;
        margin-bottom: 10px;
        width: 70%;
        height: 6vh;
        font-size: 35px;
        border-radius: 50px;
        border-color: black;
    }
}

/* Home Specific Styling */

/*  Contact Me Specific Styling */

/* Projects Specific Styling  */

/*   */

/*   */
